body {
  background-color: darkblue;
}
/* Drop Down Menu With Logo */
.dropdwn{
  margin: 0 auto;
}
nav{
  height: 95px;
  background: #2c3e50;
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
.logo{
  padding: -4px 0 0 80px;
  width: 60px;
  height: 65px;
  margin-left: 10px;
  margin-top: 2px;
}
nav ul{
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 30px;
}
nav ul li{
  background: #2c3e50;
  position: relative;
  list-style: none;
  display: inline-block;
}
nav ul li a{
  display: block;
  padding: 0 20px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  font-size: 20px;
}
nav ul li a:hover{
  background: #243342;
}
nav ul ul{
  position: absolute;
  top: 50px;
  line-height: 15px !important;
  display: none;
}
nav ul li:hover > ul{
  display: block;
}
nav ul ul li{
  width: 250px;
  float: none;
  display: list-item;
  position: relative;
  line-height: 20px !important;
}
nav ul ul ul li{
  position: relative;
  top: -50px;
  left: 100px;
}
/* END */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  border-radius: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.input-field {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  outline: none;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  border-radius: 10px;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn:hover {
  opacity: 1;
}
/* Rounded border */
hr.rounded {
  border-top: 6px solid #bbb;
  border-radius: 5px;
  margin-right:70%;
  padding-bottom: -70px;
}
.member {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.member {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}
/* Footer Text Decoration */
.column,a {
  color: white;
  text-decoration: none;
}
.legal {
  background-color: #17202A;
  padding: 15px;
  color: #17252A;
  text-align: left;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.24);
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
/* Background Design */
.aside {
  background-color: #2874A6 ;
  padding: 15px;
  color: #ffffff;
  text-align: left;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.24);
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
/* END */
.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* Footer Text Decoration */
.column,a {
  color: white;
  text-decoration: none;
}
.legal {
  background-color: #17202A;
  padding: 15px;
  color: #17252A;
  text-align: left;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.24);
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
.language {
  float: right;
}
.underline {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: -5%;
}
/* Rounded border */
hr.rounded {
  border-top: 6px solid #bbb;
  border-radius: 5px;
  margin-right:70%;
  padding-bottom: -70px;
}
.member {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.member {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}
.aside2 {
  background-color: #2874A6 ;
  padding: 15px;
  color: #ffffff;
  text-align: left;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.24);
}
