/* Drop Down Menu With Logo */
.dropdwn{
  margin: 0 auto;
}
nav{
  height: 60px;
  background: #2c3e50;
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
.logo{
  padding: -4px 0 0 80px;
  width: 80px;
  height: 60px;
}
nav ul{
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 30px;
}
nav ul li{
  background: #2c3e50;
  position: relative;
  list-style: none;
  display: inline-block;
}
nav ul li a{
  display: block;
  padding: 0 20px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  font-size: 20px;
}
nav ul li a:hover{
  background: #243342;
}
nav ul ul{
  position: absolute;
  top: 50px;
  line-height: 15px !important;
  display: none;
}
nav ul li:hover > ul{
  display: block;
}
nav ul ul li{
  width: 250px;
  float: none;
  display: list-item;
  position: relative;
  line-height: 20px !important;
}
nav ul ul ul li{
  position: relative;
  top: -50px;
  left: 100px;
}
/* END */
/* Rounded border */
hr.rounded {
  border-top: 6px solid #bbb;
  border-radius: 5px;
  margin-right:70%;
  padding-bottom: -70px;
}
.member {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.member {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}